registry = "https://registry.npmmirror.com"
electron_mirror="https://npmmirror.com/mirrors/electron/"

public-hoist-pattern[]=husky
public-hoist-pattern[]=electron
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=@commitlint/cli
public-hoist-pattern[]=vite
public-hoist-pattern[]=tsconfig
public-hoist-pattern[]=@types/node
